/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('../images/background.jpg');
  background-size: cover;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.title {
  color: white;
}

#slide-viewport {
  background-color: white;
  height: 400px;
  width: 800px;
  padding: 10px;
  overflow: hidden;
  margin: none;
  float: left;
}

.slide {
  max-height: 350px;
  outline: none;
}

.panel-containers {
  width: 100%;
}

.control-panel-right {
  float: left;
  width: 320px;
  margin-left: 20px;
}
