<p id="transcript"></p>

<h1 class="title">Presentation</h1>


<div class="panel-containers">
  <div id="slide-viewport">
    <div ng-repeat="slide in presentation.slides" class="slide" ng-model="slide.content" contenteditable ng-bind-html="slide.content">
    </div>
  </div>

  <div class='control-panel-right'>
    <button id="start">Start Presentation</button>
    <button id="end">End Presentation</button>

    <div class='keywords'>
      <h1>Keywords</h1>
      <ul ng-repeat="keyword in slideCurrent.keywords">
          <li>{{keyword}}<li>
      </ul>
    </div>

  </div>
<div class="controls">
  <button id="forward">Forward</button>
  <button id="backward">Backward</button>
  <button id="addSlide">Add Slide</button>
</div>

</div>
