<p id="transcript"></p>

<h1 class="title">Presentation</h1>


<div class="panel-containers">
  <div id="slide-viewport">
    <div ng-repeat="slide in presentation.slides" class="slide" ng-model="slide.content" contenteditable ng-bind-html="slide.content">
    </div>
  </div>

  <div class='control-panel-right'>
    <button id="start">Start Presentation</button>
    <button id="end">End Presentation</button>

    <div class='keywords'>
      <h1>Keywords</h1>
      <p ng-repeat="keyword in slideCurrent.keywords">{{keyword}}</p>
    </div>
  </div>

</div>
