<h1 class="title">{{presentation.title}}</h1>
<h4 style="color: white">{{presentation.owner}}</h4>


<div class="panel-containers">
  <div id="slide-viewport">
    <div ng-repeat="slide in presentation.slides" class="slide" ng-model="slide.content" contenteditable ng-bind-html="slide.content" ng-blur="updateSlide($event, $index)">
    </div>
  </div>

  <div class='control-panel-right'>
    <button id="start"><i class = "icon-play"></i>Start Presentation</button>
    <button id="end"><i class = "icon-stop"></i>End Presentation</button>
    <div class="controls">
      <i id="backward" class = "pe-7s-angle-left"></i>
      <i id="addslide" class = "pe-7s-note"></i>
      <i id="forward" class = "pe-7s-angle-right"></i>
    </div>
    <div class='keywords'>
      <h3>Keywords</h3>
      <div ng-repeat="keyword in slideCurrent.keywords">
        <input type="text" ng-model="keyword" value={{keyword}} ng-change="updateKeywords($index)">
        </input>
      </div>
      <button id="addKeyword">Add Keyword</button>
    </div>
  </div>

</div>
