
<h1 class="title">{{presentation.title}}</h1>
<h4 style="color: white">{{presentation.owner}}</h4>


<div class="panel-containers">
  <div id="slide-viewport">
    <div ng-repeat="slide in presentation.slides" class="slide" ng-model="slide.content" ng-bind-html="slide.content">
    </div>
  </div>
</div>

<div class='control-panel-right'>
	<div class = "ratings">
		<i class = "icon-star" ng-click="rate(1)" id = "1star" value ='1'></i>
		<i class = "icon-star" ng-click="rate(2)" id = "2star" value ='2'></i>
		<i class = "icon-star" ng-click="rate(3)" id = "3star" value ='3'></i>
		<i class = "icon-star" ng-click="rate(4)" id = "4star" value ='4'></i>
		<i class = "icon-star" ng-click="rate(5)" id = "5star" value ='5'></i>
	</div>
	<div class = "chatArea">
		<textarea class = "chatbox"></textarea>
		<button class = "submit"> submit</button>
	</div>

</div>
