<div class = "mainMenu">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
	  <a href = "/#" id = "banterMenu">Banter</a>
	    <ul class="nav navbar-nav">
	    <li><a href="/#/banter">Presentation</a></li>
	    <li><a href="/#/client">Client</a></li>
	    <li><a href="/#/results">Results</a></li>
	    <li><a href="#">Log in</a></li>
	    <li><a href="#">Register</a></li>
	  </ul>
	  </div>
	</nav>
	<div class = "titleContainer">
		<div class = "title">Hi. </div>
		<div class = "subTitle">WE ARE <span class = "highlighted">THINKERS</span>. WE ARE <span class = "highlighted">CREATORS.</span>
WE BUILD <span class = "highlighted">BRANDS</span> AND <span class = "highlighted">BUSINESSES. </span></div>
	</div>
</div>